body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#map {
        height: 100%;
        width: 100%;
        z-index:1;
       }
/* drawer is where the Icons should be, I create the code bellow for show us a icon with a arrow */

.drawer{
    position: absolute;
    z-index: 2;
    bottom: 20px;
}
.drawer::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;

    
}
.drawer:hover::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;
    position: relative;
    left: 50%;
    
}
.drawer:hover::after{
    content: " ";
    background-color: white;
        border-radius: 15px 50px; 

    animation-name: drawerAnimation;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: drawerAnimation; 
    width: 70em;
    height: 10em;
    display: block;
    align-items: center;
    justify-content: center;
    
}
/* this animation will make the drawer appear slowling below the arrow icon, which will fallow  the chages. */
@keyframes drawerAnimation{
 from {height: 0em;}
    to {height: 10em;}
}
@-webkit-keyframes drawerAnimation{
    from {height: 0em;}
    to {height: 10em;}
}

/* Here are the discripiton of how the icon will appear and  your styles
    I want make the icon appear with a delay of 1s after the drwaer is completed, so the styles of my icons is like a 



*/
.icon{
    height: 50px;
    width: 50px;
    display: none;
}


.car{
    background-image: url(png/car.png);
}
.help{
        background-image: url(png/011-customer-support.png);
}
.tools{
    background-image: url(png/002-tools.png);
}
.book{
    background-image: url(png/001-book.png);
    
}

/* here are the class of wrap up  this class will organize the icons with the flow of lines*/
.wraped{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
