
#map {
        height: 100%;
        width: 100%;
        z-index:1;
       }


.c1::after{
    content: "Placa: NXT876 ";
    display: inline-block;
    position: absolute;
    left: 25px;
    top: -100px;
    text-decoration: none;
    text-align: center;
    color: darkgreen;
    background-color: aliceblue;
    opacity: 1;
    
}
.c1:hover::after{
       top: -120px;
        font-size: 1.2em;
    
}

.c2::after{
    content: "Placa: NXT876 ";
    display: inline-block;
    position: absolute;
    left: 25px;
    top: -100px;
    text-decoration: none;
   color: darkgreen;
    background-color: aliceblue;
    opacity: 1;
}
.c2:hover::after{
       top: -120px;
        font-size: 1.2em;
    
}
.c3::after{
    content: "Placa: NXT876 ";
    display: inline-block;
    position: absolute;
    left: 25px;
    top: -100px;
    text-decoration: none;
   color: darkgreen;
    background-color: aliceblue;
    opacity: 1;
}
.c3:hover::after{
       top: -120px;
        font-size: 1.2em;
    
}
.imagec1{
    position: relative;
    text-decoration: none;
}
.imagec1::before{
    content:  " ";
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
    background-image: url(CaminhaoIcon.jpg);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-size: cover;
    position: relative;

    background-repeat: no-repeat;
    
}
.imagec1:hover::before{
    width: 100px;
    height: 100px;
}






.imagec3{
    position: relative;

    text-decoration: none;
}
.imagec3::before{
    content:  " ";
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
    background-image: url(CaminhaoIcon.jpg);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-size: cover;
    position: relative;

    background-repeat: no-repeat;
    
}
.imagec3:hover::before{
    width: 100px;
    height: 100px;
}


.imagec2{
    position: relative;

    text-decoration: none;
}
.imagec2::before{
    content:  " ";
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
    background-image: url(CaminhaoIcon.jpg);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-size: cover;
    position: relative;

    background-repeat: no-repeat;
    
}
.imagec2:hover::before{
    width: 100px;
    height: 100px;
}












.ContainerImage{
    position: fixed;
    bottom: 20px;
    left:35%;
    z-index: 2;
    
    
}