body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#map {
        height: 100%;
        width: 100%;
        z-index:1;
       }

.drawer{
    position: absolute;
    z-index: 2;
    bottom: 20px;
}
/* drawer is where the Icons should be, I create the code bellow for show us a icon with a arrow */
.drawer::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 80px;
    width: 80px;
    background-size: contain;

    
}
.drawer:hover::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 80px;
    width: 80px;
    background-size: contain;
    position: relative;
    left: 50%;
    
}
.drawer:hover::after{
    content: " ";
    background-color: white;
    height: 10em;
    width: 70em;
    display: block;
    align-items: center;
    justify-content: center;
    
}