
@media only screen and (min-device-width: 481px) {






body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#map {
        height: 100%;
        width: 100%;
        z-index:1;
       }
/* drawer is where the Icons should be, I create the code bellow for show us a icon with a arrow */

.drawer{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%; 
    height: 5em;
}
.drawer::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-size: contain;
    animation-name: drawerIconLeaveAnimation;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: drawerIconLeaveAnimation; 
            animation-fill-mode:forwards;

}
.drawer:hover::before{
    content: " ";
    background-image: url(png/upload.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;
    position: absolute;
    left: 50%;
    animation-name: drawerIconAnimation;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: drawerIconAnimation; 
            animation-fill-mode:forwards;

}

.drawer::after{
    content: " ";
    background-color: white;
    border-radius: 15px 50px;
    width: 70em;
    display: block;
    align-items: center;
    justify-content: center;
     animation-name: drawerLeaveAnimation;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: drawerLeaveAnimation; 
    -webkit-animation-name: drawerLeaveAnimation;
    animation-fill-mode:forwards;

}

.drawer:hover::after{
    content: " ";
    background-color: white;
    border-radius: 15px 50px; 
    
    animation-name: drawerAnimation;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: drawerAnimation; 
    width: 70em;
    height: 10em;
    display: block;
    align-items: center;
    justify-content: center;
    animation-fill-mode:forwards;

    
}
/* this animation will make the drawer appear slowling below the arrow icon, which will fallow  the chages. */



@keyframes drawerIconAnimation{
 from {bottom: 20px;}
    to {bottom: 7.5em;}
}
@-webkit-keyframes drawerIconAnimation{
  from {bottom: 20px;}
    to {bottom: 7.5em;}
}



@keyframes drawerIconLeaveAnimation{
 from {bottom: 7.5em;}
    to {bottom: 20px;}
}
@-webkit-keyframes drawerIconAnimation{
 from {bottom: 7.5em;}
    to {bottom: 20px;}
}


@keyframes drawerAnimation{
 from {height: 0em;}
    to {height: 10em;}
}
@-webkit-keyframes drawerAnimation{
    from {height: 0em;}
    to {height: 10em;}
    
}


@keyframes drawerLeaveAnimation{
 from {height: 10em;}
    to {height: 0em;}
}
@-webkit-keyframes drawerLeaveAnimation{
    from {height: 10em;}
    to {height: 0em;}
}

/* Here are the discripiton of how the icon will appear and  your styles
    I want make the icon appear with a delay of 1s after the drwaer is completed, so the styles of my icons is like a 



*/
.icon{
    height: 50px;
    width: 50px;
    display: block;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.iconShow{
    display: block;
    animation-name: iconShow;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: iconShow; 
    animation-fill-mode:forwards;

}

.iconUnshow{
    
      display: block;
    animation-name: iconUnhow;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: iconUnhow;
        animation-fill-mode:forwards;

}


@keyframes iconShow{
    from{opacity: 0;
        
    }

    to{
        opacity: 1;
    }
}

@keyframes iconUnhow{
    from{opacity: 1;
        
    }

    to{
        opacity: 0;
    }
}


.termo{
    background-image: url(png/termotecnica.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 25%;
    top: -90px;
     height: 150px;
    width: 200px;
    
}
.honda{
    background-image: url(png/Honda-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 25%;
    top: 20px;
    height: 30px;
    width: 200px;
    
}

.philco{
    background-image: url(png/philco-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 25%;
    top: 70px;
    height: 30px;
    width: 200px;
    
}

.car{
    height: 70px;
    width: 70px;
    background-image: url(png/car.png);
    background-size: contain;
    z-index: 3;
    left: 40%;
}


.caminhao{
    position: relative;
    display: flex;
    align-items: center;
    left: 45%;
    z-index: 3;
    height: 20px;

    }

.radio{
    margin: 20px;
    font-size: 1.2em;
}






.chat{
    height: 200px;
    width: 200px;
    background-image: url(png/chat.png);
    background-size: contain;
    z-index: 3;
    position: absolute;
    bottom:100px;
    left:42%;
 
    display: none;
 
    
}
.ategoSerch{
    background-image: url(png/jeep.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    position: relative;
    bottom: -50px;
    margin: 10px;
    cursor: pointer;
    display: block;
}

.atronSerch{
    
    background-image: url(png/jeep1.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    position: relative;
    bottom: -50px;
    margin: 10px;
    cursor: pointer;
     display: block;

}

.omegaSerch{
    
    
    background-image: url(png/jeep2.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
       position: relative;
    bottom: -50px;
    margin: 10px;
cursor: pointer;
     display: block;
    
}
.help{
    
        background-image: url(png/dashboard.png);
        background-size: contain;
        z-index: 3;
        left: 70%;

}





.tools{
    background-image: url(png/002-tools.png);
    background-size: contain;
    z-index: 3;
        left: 78%;
    
}
.book{
    background-image: url(png/001-book.png);
    background-size: contain;
    z-index: 3;

        left: 88%;
    
}

/* here are the class of wrap up  this class will organize the icons with the flow of lines*/
.wraped{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}








// here is the code witch will shal show us about the speed

.GeneralSpeeds{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center

}
.GeneralSpeeds::after{
    content: ' ';
    background-image: url(png/down-arrow.png);
    background-size:    contain;
    display: none;
    height: 90px;
    width: 90px;
    z-index: 4;
    position: absolute;
    top: 20px;
    right: 100px;
    cursor: pointer;
}
.Speed{
    opacity: 0; 
    position: absolute;
    top: 20px;
    right: 10px;
    height: 8px;
    width: 8px;
}





.SpeedAtego::after{
    content: '';
    background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%; 
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 3;
    animation-name: atego;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: atego; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

}




.SpeedAtego::before{
   content: attr(data-conteudo);
    font-size:22px;

    color:white;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50px;
    right: 110px;
    z-index: 4;

    
}




.SpeedAtron::after{
    content: ' ';
       background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 200px;
    right: 50px;
    z-index: 3;
    
    
     animation-name: atron;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: atron; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1; 
    
}





.SpeedAtron::before{
    content: attr(data-conteudo);
    font-size: 22px;
    color: white;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 230px;
    right: 110px;
    z-index: 4;
  
    
}




.SpeedOmega::after{
    content: ' ';
        background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 400px;
    right: 50px;
    z-index: 3;
    
        
      animation-name: omega;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: omega; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    
    
    
}


.SpeedOmega::before{
   content: attr(data-conteudo);
    font-size: 22px;

    color: white;
 
    height: 25px;
    width: 25px;
    display: block;
    position: absolute;
    top: 430px;
    right: 110px;
    z-index: 4;

    
}


.SpeedOut{
 
    
    
      animation-name: out;
    animation-duration: 2s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: out; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    
    
    
}

@keyframes out{
    from { opacity: 1;}  
    to {opacity: 0;}
}
@-webkit-keyframes out{
  from { opacity: 1;}  
    to {opacity: 0;}
}




@keyframes atego{
    from { opacity: 0;}  
    to {opacity: 1;}
}
@-webkit-keyframes atego{
  from { opacity: 0;}  
    to {opacity: 1;}
}

@keyframes atron{
    from { opacity: 0; top:20px ; }  
    to {opacity: 1; top: 200px;}
}
@-webkit-keyframes atron{
  from { opacity: 0; top: 20px;}  
    to {opacity: 1; top: 200px;}
}



@keyframes omega{
    from { opacity: 0; top: 20px; }  
    to {opacity: 1; top: 400px;}
}
@-webkit-keyframes omega{
  from { opacity: 0; top:20px ;}  
    to {opacity: 1; top:400px ;}
}

}
/* Code mobile go  here
    I used The iphone 6 scren as based
    
*/
@media only screen and (max-device-width: 480px) {

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#map {
        height: 100%;
        width: 100%;
        z-index:1;
       }
.menu{

    position: absolute;
    bottom: 10em;
    left: 50%;
}
.drawer-mobile{
    content:" ";
    z-index: 3;
    background-color: white;
    display: none;
    height:  600px;
    width:  480px;
    position: absolute;
    left: 27%;
    bottom:13em;
    border-radius: 15px 50px;



}

.icons-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:40%;
    top:50px;

   
}
.atego-mobile{
    background-image: url("png/jeep.png");
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 20px;


}

.atron-mobile{
    background-image: url("png/jeep1.png");
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 20px;

}

.omega-mobile{
    background-image: url("png/jeep2.png");
    background-size: contain;
    height: 100px;
    width: 100px;
        margin: 20px;

}

.velocidade-mobile{
    background-image: url("png/dashboard.png");
    background-size: contain;
    height: 100px;
    width: 100px;
        margin: 20px;


}
.radio{
    display: none;
}



/*here is the code witch will shal show us about the speed*/

.GeneralSpeeds{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center

}
.GeneralSpeeds::after{
    content: ' ';
    background-image: url(png/down-arrow.png);
    background-size:    contain;
    display: none;
    height: 90px;
    width: 90px;
    z-index: 4;
    position: absolute;
    top: 20px;
    right: 100px;
    cursor: pointer;
}
.Speed{
    opacity: 0; 
    position: absolute;
    top: 20px;
    right: 10px;
    height: 8px;
    width: 8px;
}





.SpeedAtego::after{
    content: '';
    background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%; 
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 3;
    animation-name: atego;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: atego; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

}




.SpeedAtego::before{
   content: attr(data-conteudo);
    font-size:22px;

    color:white;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50px;
    right: 110px;
    z-index: 4;

    
}




.SpeedAtron::after{
    content: ' ';
       background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 200px;
    right: 50px;
    z-index: 3;
    
    
     animation-name: atron;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: atron; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1; 
    
}





.SpeedAtron::before{
    content: attr(data-conteudo);
    font-size: 22px;
    color: white;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 230px;
    right: 110px;
    z-index: 4;
  
    
}




.SpeedOmega::after{
    content: ' ';
        background-image: url(png/see.png);
    background-size:contain;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 400px;
    right: 50px;
    z-index: 3;
    
        
      animation-name: omega;
    animation-duration: .6s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: .6s;
    -webkit-animation-name: omega; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    
    
    
}


.SpeedOmega::before{
   content: attr(data-conteudo);
    font-size: 22px;

    color: white;
 
    height: 25px;
    width: 25px;
    display: block;
    position: absolute;
    top: 430px;
    right: 110px;
    z-index: 4;

    
}


.SpeedOut{
 
    
    
      animation-name: out;
    animation-duration: 2s;
     animation-fill-mode:forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: out; 
    -webkit-animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    
    
    
}


}